html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#bg-body {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("http://res.cloudinary.com/nasax2000/image/upload/v1507532168/noise_ziyd8k.png") repeat;
}

#timer {
  font-family: "Orbitron";
  display: grid;
  grid-template-areas: "screenClock""middleSec""inputButtons""lastSec"
}

#screenClock {
  text-align: center;
  grid-area: screenClock;
  background-color: #cfd1d0;
  text-align: center;
  border: 1px solid black;
  border-color: rgba(0, 0, 255, 0.25);
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "box1 box2 box3"
}



#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}


#middleSec {
  grid-area: middleSec;
  background-color: #cfd1d0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "breakoutput duroutput"
}

#hour,
#minutes,
#seconds {
  text-align: center;
}

#breakOutput {
  grid-area: breakoutput;
  border: 1px solid black;
  border-color: rgba(0, 0, 255, 0.25);
}

#durOutput {
  grid-area: duroutput;
  border: 1px solid black;
  border-color: rgba(0, 0, 255, 0.25);
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.type {
  width: 50%;
  height: 40%;
  background: #cfd1d0 none repeat scroll 0 0;
  display: inline-block;
}


#inputButtons {
  grid-area: inputButtons;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "inputbreakbuttons inputDurButtons"
}

#inputBreakButtons {
  grid-area: inputbreakbuttons;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "sub-break add-break"
}

#sub-break {
  grid-area: sub-break
}

#add-break {
  grid-area: add-break;
}

#inputDurButtons {
  grid-area: inputDurButtons;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "sub-dur add-dur"
}

#sub-dur {
  grid-area: sub-dur
}

#add-dur {
  grid-area: add-dur
}

#bre,
#dur {
  text-align: center;
}

#hourUnits,
#minUnits,
#secUnits {
  text-align: center;
}

#break,
#duration {
  text-align: center;
}

#lastSec {
  grid-area: lastSec;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "resetButton pauseButton resumeButton startButton"
}

#resetButton {
  grid-area: resetButton
}

#pauseButton {
  grid-area: pauseButton
}

#resumeButton {
  grid-area: resumeButton
}

#startButton {
  grid-area: startButton
}

.divBtns {
  position: relative;
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #0e0e0e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: bold;
  letter-spacing: 0.2em;
  position: relative;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
}

.divBtns:after {
  content: "";
  display: block;
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7),
    0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7),
    0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4),
    0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4),
    inset 0 1px 2px rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}

.divBtns:hover {
  color: #aeaeae;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #545454),
    color-stop(100%, #373738));
  background-image: -moz-linear-gradient(#545454, #373738);
  background-image: -webkit-linear-gradient(#545454, #373738);
  background-image: linear-gradient(#545454, #373738);
}

.divBtns:hover:after {
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7),
    0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6),
    0 0 15px 5px rgba(0, 255, 255, 0.2);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7),
    0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6),
    0 0 15px 5px rgba(0, 255, 255, 0.2);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4),
    0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4),
    inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2);
}

.divBtns:active {
  color: #00ccff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
  background: #333;
  -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4),
    inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9),
    0 0 0 black;
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4),
    inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9),
    0 0 0 black;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4),
    inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9),
    0 0 0 black;
}


@media only screen and (max-width: 500px) {

  #bg-body {
    width: 320px;
    height: 400px;
    border-radius: 10px;
  }

  #timer {
    position: relative;
    width: 310px;
    height: 390px;
    padding-top: 10px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    grid-template-rows: 195px 117px 39px 39px;
  }

  #hour,
  #minutes,
  #seconds {
    font-size: 40px;
  }

  #bre,
  #dur {
    font-size: 20px;
  }

  #hourUnits,
  #minUnits,
  #secUnits {
    font-size: 10px;
  }

  #break,
  #duration {
    font-size: 10px;
    background-color: #cfd1d0;
    width: 100%;
  }


  .control {
    font-size: 10px;
  }

  .minusPlus {
    font-size: 20px;
  }

  .text {
    position: relative;
    top: -30px;
  }

  .superBtn{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .bottomRow {
    height: 38px;
  }

  #bottomLeftDiv {
    border-bottom-left-radius: 10px;
  }

  #bottomRightDiv {
   border-bottom-right-radius: 10px; 
  }

}

@media only screen and (min-width: 501px) and   (max-width: 1080px) {
  #bg-body {
    width: 500px;
    height: 600px;
    border-radius: 10px;
  }

  #timer {
    position: relative;
    width: 490px;
    height: 590px;
    padding-top: 10px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    grid-template-rows: 295px 177px 59px 59px;
  }

  #hour,
  #minutes,
  #seconds {
    font-size: 55px;
  }

  #bre,
  #dur {
    font-size: 30px;
  }

  #hourUnits,
  #minUnits,
  #secUnits {
    font-size: 15px;
  }

  #break,
  #duration {
    font-size: 15px;
    background-color: #cfd1d0;
    width: 100%;
  }


  .control {
    font-size: 10px;
  }

  .minusPlus {
    font-size: 25px;
  }

  .text {
    position: relative;
    top: -30px;
  }

  .superBtn{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .bottomRow {
    height: 59px;
  }

  #bottomLeftDiv {
    border-bottom-left-radius: 10px;
  }

  #bottomRightDiv {
   border-bottom-right-radius: 10px; 
  }
}


@media only screen and (min-width: 1080px) {
  #bg-body {
    width: 700px;
    height: 800px;
    border-radius: 10px;
  }

  #timer {
    position: relative;
    width: 690px;
    height: 790px;
    padding-top: 10px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    grid-template-rows: 395px 237px 79px 79px;
  }

  #hour,
  #minutes,
  #seconds {
    font-size: 60px;
  }

  #bre,
  #dur {
    font-size: 35px;
  }

  #hourUnits,
  #minUnits,
  #secUnits {
    font-size: 20px;
  }

  #break,
  #duration {
    font-size: 20px;
    background-color: #cfd1d0;
    width: 100%;
  }


  .control {
    font-size: 15px;
  }

  .minusPlus {
    font-size: 30px;
  }

  .text {
    position: relative;
    top: -30px;
  }

  .superBtn{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .bottomRow {
    height: 78px;
  }

  #bottomLeftDiv {
    border-bottom-left-radius: 10px;
  }

  #bottomRightDiv {
   border-bottom-right-radius: 10px; 
  }
}